.form {
	height: 60%;
	width: 70%;
	margin: auto;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.input {
	width: 50%;
	padding: 2%;
	border: none;
	border: 2px solid orange;
	border-radius: 7px;
}
.input:focus {
	outline: none;
	border: 2px solid #aac0c4;
}
.textarea:focus {
	outline: none;
	border: 2px solid #aac0c4;
	transition: 0.5s ease-out;
}
.textarea {
	width: 50%;
	padding: 3%;
	border: none;
	border: 2px solid orange;
	border-radius: 7px;
	outline: 0px !important;
}
.button {
	font-size: 1rem;
	padding: 2% 4%;
	border-radius: 7px;
	background-color: #ffd6ba;
}
